<h2>Top-up from M-Pesa</h2>

<p>Your current balance is <%= current_user.balance %></p>

<%= form_with(url: "/transactions/topup", method: :post) do |form| %>
  <div>
    <%= label_tag(:amount, "Amount") %>
    <%= number_field_tag(:amount) %>
  </div>

  <div>
    <%= label_tag(:phone_number, "Phone Number") %>
    <%= text_field_tag(:phone_number) %>
  </div>

  <div>
    <%= submit_tag("Top-up") %>
  </div>
<% end %>
<h1>New Transaction</h1>

<%= form_with(model: @transaction, url: transactions_path) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :receiver_id%>
    <%= form.collection_select :receiver_id, User.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>